<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Stats</title>
  <link rel="stylesheet" href="../styles/style.css">
 </head>
<body>
<% include global/header %>
<br>
<br>
<br>
  <h2 class="center">Leaderboard</h2>
  <div id="stats">
    <table>
      <tr>
        <th class="top_row">Player Name</th>
        <th class="top_row">Games Played</th>
        <th class="top_row">Games Won</th>
        <th class="top_row">Games Lost</th>
        <th class="top_row">Ties</th>
      </tr>

      <%for(var i=0;i<users.length;i++){%>
      <tr>
        <td>
        <%=users[i].name%>
        </td>
        <td>
        <%=users[i].gamesplayed%>
        </td>
        <td>
        <%=users[i].gameswon%>
        </td>
        <td>
        <%=users[i].gameslost%>
        </td>
        <td>
        <%var ties=users[i].gamesplayed-users[i].gameswon-users[i].gameslost;%>
        <%=ties%>
        </td>
      </tr>

      <%}%>
    </table>
  </div>
  <h2 class="center">Villain Stats</h2>
  <div id="villain_stats">
    <table>
      <tr>
        <th class="top_row">Villain Name</th>
        <th class="top_row">Games Played</th>
        <th class="top_row">Games Won</th>
        <th class="top_row">Games Lost</th>
        <th class="top_row">Ties</th>
      </tr>

      <%for(var i=0;i<villains.length;i++){%>
      <tr>
        <td>
        <%=villains[i].name%>
        </td>
        <td>
        <%=villains[i]["gamesplayed"]%>
        </td>
        <td>
        <%=villains[i]["gameswon"]%>
        </td>
        <td>
        <%=villains[i]["gameslost"]%>
        </td>
        <td>
        <%var ties=villains[i]["gamesplayed"]-villains[i]["gameswon"]-villains[i]["gameslost"];%>
        <%=ties%>
        </td>
      </tr>

      <%}%>
    </table>
  </div>
  <% include global/footer %>
 </body>

</html>
