<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/cb87cedded.js" crossorigin="anonymous"></script>
  <title>Congress Stalker</title>
  <% include global/header%>
</head>
<body>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Senate or House
    </button>
    <form action="/view" method="post">
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button type="submit" id="submit" class="dropdown-item" value="0"> Senate</button>
        <button type="submit" id="submit" class="dropdown-item" value="1"> House</button>
      </div>
    </form>
  </div>
  <div class="container">
    <div class="row">
      <% for (var i =1; i <=feedback.members.length-1;  i++ ) { %>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="https://github.com/unitedstates/images/blob/gh-pages/congress/450x550/<%= feedback.members[i].id%>.jpg?raw=true" class="rounded mx-auto d-block img-thumbnail" width="200" >
            <div class="card-body">
              <h5 class="card-title"><%= feedback.members[i].first_name%> <%= feedback.members[i].middle_name%> <%= feedback.members[i].last_name%></h5>
              <p>Age: <span class="badge badge-light"><%=feedback.members[i].date_of_birth%></span>, Gender:<span class="badge badge-light"><%=feedback.members[i].gender%></span>, State:<span class="badge badge-light"><%=feedback.members[i].state%></span>, Years served: <span class="badge badge-light"><%=feedback.members[i].seniority%></span></p>
              <p><i class="far fa-address-card fa-2x"></i><span class="badge badge-light"><%=feedback.members[i].office%></span></p>
              <p>Phone number: <span class="badge badge-light"><%=feedback.members[i].phone%></span></p>
              <p>Party Affilaition:
                <%if (feedback.members[i].party == "D") { %>
                  <i class="fas fa-democrat"></i>
                  <% } %>
                  <%if (feedback.members[i].party == "R") { %>
                    <i class="fas fa-republican"></i>
                    <% } %>
                  </p>
                  <p>Social Media: <span class="badge badge-light"> <a href="https://www.youtube.com/user/<%=feedback.members[i].youtube_account%>"><i class="fab fa-youtube"></i></a> <a href="https://www.twitter.com/<%=feedback.members[i].twitter_account%>"><i class="fab fa-twitter"></i></a> <a href="https://www.facebook.com/<%=feedback.members[i].facebook_account%>"><i class="fab fa-facebook-f"></i></a></span></p>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <p>Missed votes <span class="badge badge-light"><%=feedback.members[i].missed_votes_pct%>%</span>, Votes with party <span class="badge badge-light"><%=feedback.members[i].votes_with_party_pct%>%</span>, Votes against party <span class="badge badge-light"><%=feedback.members[i].votes_against_party_pct%>%</span></p>
                  <button type="button" id = "my_button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> More info <span class="badge badge-light">Bills</span>
                  </button>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="accordion" id="accordionExample">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Collapsible Group Item #1
                        </button>
                      </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        <div id="bills">
                          awdhjbasjkhdfhjashjgdhgjaSdgjh
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Collapsible Group Item #2
                          </button>
                        </h2>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Collapsible Group Item #3
                          </button>
                        </h2>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                      </div>
                    </div>
                  </div>


            <!-- IDK why but adding this line fixes accordians-->
                  <div class="accordion" id="accordionExample">
                  </div>

            <!--end of weird fix lines -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Optional JavaScript -->
          <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
          <script src="scripts/scripts.js"></script>
        </body>
        </html>
